.navbar {
    height: 100px;
}
.wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6a759b;
    height: 100%;


    .span{
        font-weight: bold;
    }

    .social { 
        display: flex;
        gap: 1.5rem;

        img{
            width: 1.5rem;
            height: 1.5rem;
        }
    
    }

}


