html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body{
    background-color: rgba(41,46,73,1);
    color:rgba(83,105,118,1)
}

a{
    text-decoration: none;
    color: inherit;
}

section {
    height: 100vh;
    scroll-snap-align: center;
}

.course {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .box{
        width: 14rem;
        height: 14rem;
        background-color: white;
    }
}


